<div id="answerBoxPreview" class="messageGroup {{messageGroupClass}} only-front">
    <div class="senderBox">
		<div class="sender"></div>
		<div id="requestedLanguagePrompt" class="language mainTexts"></div>
	</div>
	<div class="messagesBox">
	    <div class="message" id="previewMessage">...</div>
	</div>
</div>